---

---

<section class="w-full flex-col justify-start items-center bg-gray-900 text-white">
  <div class="text-center mb-20">
    <h1 class="text-4xl md:text-6xl font-bold mt-40 mb-6 mx-4 sm:mx-8">
      Stay Connected, Build Networks
    </h1>
    <p class="text-lg md:text-2xl mb-16">
      Join the global NCIT Alumnus as they share <br> their journeys, profiles and experiences creating opportunities together.
    </p>
    <div class="flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4">
      <a href="#" class="border border-green-500 hover:bg-green-500 text-white py-3 px-6 transition-all duration-300">
        Submit Your Profile
      </a>
      <a href="#" class="border border-blue-500 hover:bg-blue-500 text-white py-3 px-6 transition-all duration-300">
        Explore Alumni
      </a>
    </div>
  </div>
</section>
