---
import LeftSidebar from '../components/shared/LeftSidebar.astro';
import MainContent from '../components/MainContent.astro';

const { children } = Astro.props;
---

<div class="flex h-screen">
  <LeftSidebar />
  <MainContent>
    <slot/>
  </MainContent>
</div>